@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

.blog-main {
  color: var(--white-bc);
  padding: 0 10px;
  font-family: "Inter", sans-serif;
  line-height: 1.3em;
  max-width: 40em;
  margin: auto;
}

.blog-main *::selection {
  color: var(--black-bc);
  background-color: var(--white-bc);
}

.blog-main h1 {
  text-align: center;
}

.blog-main a {
  text-decoration: none;
  color: var(--yellow-bc);
}

.blog-main a:visited {
  color: var(--yellow-dull-bc);
}

.blog-main p {
  padding-right: 10px;
  color: var(--muted-white-bc);
}

/* for TODO notes */
.blog-main b {
  color: #333;
  font-weight: normal;
}
.blog-main b:hover {
  color: #999;
  font-weight: normal;
}
