@font-face {
    font-family: 'alagard';
    font-style: normal;
    font-weight: 500;
    src: local(''), url('/alagard.ttf') format('truetype');
}

@font-face {
    font-family: 'moderndos';
    font-style: normal;
    font-weight: 500;
    src: local(''), url('/modern_dos/ModernDOS9x16.ttf') format('truetype');
}
